form {
  display: flex;
  flex-direction: column;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 60px; /* Espaço para o título */
  text-align: center;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #4958af;
  border: none;
  color: #f0e4e4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0c0361;
}

button:active {
  transform: scale(0.95);
}

.button-container button {
  padding: 18px 20px;
  font-size: 14px;
  min-width: 100px;
}

mat-card {
  box-shadow: none;
}

/* CSS para organizar os campos em linha */
.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form-row mat-form-field {
  flex: 1;
  min-width: 200px;
}

.full-width {
  width: 100%;
}
