<mat-card class="home mat-elevation-z3">
  <div class="card-content">
    <!-- Boas-vindas -->
    <h2 class="welcome-message">Bem-vindo</h2>



   

    <!-- Menu com botões para navegação -->
    <div class="menu-options">
      <button class="btn-primary" routerLink="/vendas"> Vendas</button>
      <button class="btn-primary" routerLink="/products"> Produtos</button>
      <button class="btn-primary" routerLink="/suppliers"> Fornecedores</button>
    </div>
         <!-- Bloco de informações resumidas do sistema -->
         <div class="system-info-box">
          <div class="info-card">
            <h4>Produtos</h4>
            <p>{{ qtdProdutos }} cadastrados</p>
          </div>
          <div class="info-card">
            <h4>Vendas</h4>
            <p>{{ qtdVendas }} realizadas</p>
          </div>
        </div>
 
  </div>
</mat-card>
