/* Joga o mat-card mais pra baixo */
mat-card {
  margin-top: 80px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

/* Centraliza o título */
mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Campos do formulário */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

/* Container dos botões */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

/* Estilo completo dos seus botões */
.button-container button {
  background-color: #4958af; /* Azul personalizado */
  border: none;
  color: #f0e4e4;
  padding: 18px 20px;
  font-size: 14px;
  min-width: 100px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-container button:hover {
  background-color: #0c0361;
}

.button-container button:active {
  transform: scale(0.95);
}
