

button{
    background-color: #4958af; /* Azul */
    border: none; /* Sem borda */
    color: #f0e4e4; /* Texto branco */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Permite definir largura e altura */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    border-radius: 8px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.2s; /* Transição suave */
    }
   
    button:hover {
    background-color: #0c0361; /* Azul mais escuro ao passar o mouse */
    }
   
    button:active {
    transform: scale(0.95); /* Efeito de pressionar */
    }