form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

mat-form-field.full-width {
  width: 100%;
}

.full-width-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table.full-width-table th,
table.full-width-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #0c0361; /* vermelho Material warn */
  transition: color 0.3s ease;
}

.item-actions button:hover {
  color: #4958af;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

button[mat-raised-button] {
  background-color: #77181e;
  border: none;
  color: #f0e4e4;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 10px;
}

button[mat-raised-button]:hover {
  background-color: #5f0b10;
}

button[mat-raised-button]:active {
  transform: scale(0.95);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 10px;
}

mat-card {
  box-shadow: none;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
}

h3 {
  margin-bottom: 10px;
}

strong {
  font-size: 1.2rem;
  margin-top: 10px;
  display: inline-block;
}
