<mat-card>
  <mat-card-title>Excluir Marca</mat-card-title>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nome*</mat-label>
      <input matInput [value]="marca.marNome" name="marNome" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição*</mat-label>
      <input matInput [value]="marca.marDescricao" name="marDescricao" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ativo</mat-label>
      <input matInput [value]="marca.marAtivo ? 'Ativo' : 'Inativo'" name="marAtivo" disabled>
    </mat-form-field>


    </form>

   <!-- Botões -->
<div class="button-container">
  <button mat-raised-button color="warn" type="button" (click)="deleteMarca()">
    Excluir
  </button>
  <button mat-raised-button color="accent" type="button" (click)="cancel()">
    Cancelar
  </button>
</div>


</mat-card>