<mat-card>
  <mat-card-title>Excluir Marca</mat-card-title>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Nome*</mat-label>
      <input matInput [value]="marca.marNome" name="marNome" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição*</mat-label>
      <input matInput [value]="marca.marDescricao" name="marDescricao" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ativo</mat-label>
      <input matInput [value]="marca.marAtivo ? 'Ativo' : 'Inativo'" name="marAtivo" disabled>
    </mat-form-field>


    </form>

    <button mat-raised-button (click)="deleteMarca()" color="warn">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>