mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 50px; /* Margem superior para afastar o título */
  text-align: center;
  color: #333; /* Cor do título */
}

.delete-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
  min-width: 250px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}


.button-container button {
  background-color: #4958af;
  color: #f0e4e4;
  padding: 15px 32px;
  font-size: 14px;
  min-width: 120px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-container button:hover {
  background-color: #0c0361;
}

.button-container button:active {
  transform: scale(0.95);
}

mat-card {
  box-shadow: none;
  padding: 24px;
}
