/* Centraliza verticalmente o card e dá espaçamento no topo */
mat-card {
  margin-top: 60px; /* Espaço do topo */
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

/* Centraliza o título */
mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 30px; /* Espaço abaixo do título */
}

/* Estiliza o formulário para centralizar os campos */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Limita a largura para não ficar muito largo */
  margin: 0 auto; /* Centraliza horizontalmente */
}

/* Botões */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.button-container button {
  padding: 18px 20px;
  font-size: 14px;
  min-width: 100px;
  background-color: #4958af;
  border: none;
  color: #f0e4e4;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0c0361;
}

button:active {
  transform: scale(0.95);
}
