<mat-card>
    <mat-card-title>Excluir Fornecedor</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Razão Social*</mat-label>
            <input matInput placeholder="Razão Social" [value]="supplier.forRazaoSocial" name="forRazaoSocial" disabled>
        </mat-form-field >
        <mat-form-field appearance="outline">
            <mat-label>Nome Fantasia*</mat-label>
            <input matInput placeholder="Nome Fantasia" [value]="supplier.forNomeFantasia" name="forNomeFantasia" disabled>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Cnpj**</mat-label>
            <input matInput placeholder="CNPJ" [value]="supplier.forCnpj" name="forCnpj" disabled>
        </mat-form-field>
    </form>

    <!-- Botões -->
<div class="button-container">
    <button mat-raised-button color="warn" type="button" (click)="deleteSupplier()">
      Excluir
    </button>
    <button mat-raised-button color="accent" type="button" (click)="cancel()">
      Cancelar
    </button>
  </div>
  
</mat-card>