<mat-card>
  <mat-card-title>Alterar Forma de Pagamento</mat-card-title>

  <form #form="ngForm" (ngSubmit)="updatePaymentMethod()">

    <mat-form-field appearance="outline">
      <mat-label>Meio de Pagamento</mat-label>
      <mat-select [(ngModel)]="paymentMethod.fpgNome" name="fpgNome" required #fpgNome="ngModel">
        <mat-option value="Dinheiro">Dinheiro</mat-option>
        <mat-option value="Cartão de Débito">Cartão de Débito</mat-option>
        <mat-option value="Cartão de Crédito">Cartão de Crédito</mat-option>
        <mat-option value="PIX">PIX</mat-option>
        <mat-option value="Transferência Bancária">Transferência Bancária</mat-option>
        <mat-option value="Boleto">Boleto</mat-option>
        <mat-option value="Carteira Digital">Carteira Digital</mat-option>
      </mat-select>
      <mat-error *ngIf="fpgNome.invalid && fpgNome.touched">É obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Modalidade</mat-label>
      <mat-select [(ngModel)]="paymentMethod.fpgTipo" name="fpgTipo" required #fpgTipo="ngModel">
        <mat-option value="À vista">À vista</mat-option>
        <mat-option value="Parcelado">Parcelado</mat-option>
        <mat-option value="Antecipado">Antecipado</mat-option>
        <mat-option value="A prazo">A prazo</mat-option>
        <mat-option value="Recorrente">Recorrente</mat-option>
      </mat-select>
      <mat-error *ngIf="fpgTipo.invalid && fpgTipo.touched">É obrigatório</mat-error>
    </mat-form-field>

    <!-- Parcelamento -->
    <mat-form-field appearance="outline">
      <mat-label>Permitir Parcelamento?</mat-label>
      <mat-select [(ngModel)]="paymentMethod.fpgPermiteParcelamento" name="fpgPermiteParcelamento" required #fpgPermiteParcelamento="ngModel" (selectionChange)="onPermiteParcelamentoChange()">
        <mat-option [value]="true">Sim</mat-option>
        <mat-option [value]="false">Não</mat-option>
      </mat-select>
      <mat-error *ngIf="fpgPermiteParcelamento.invalid && fpgPermiteParcelamento.touched">Selecione uma opção</mat-error>
    </mat-form-field>

    
    <mat-form-field appearance="outline">
      <mat-label>Máximo de Parcelas</mat-label>
      <input matInput
             type="number"
             [(ngModel)]="paymentMethod.fpgNumMaxParcelas"
             name="fpgNumMaxParcelas"
             required
             min="1"
             max="99"
             [disabled]="!paymentMethod.fpgPermiteParcelamento"
             (keypress)="apenasNumeros($event)"
             #fpgNumMaxParcelas="ngModel">
      <mat-error *ngIf="fpgNumMaxParcelas.invalid && fpgNumMaxParcelas.touched">
        Informe um número entre 1 e 99.
      </mat-error>
    </mat-form-field>

   <mat-form-field appearance="outline">
  <mat-label>Taxa Adicional (%)</mat-label>
  <input matInput
         [(ngModel)]="paymentMethod.fpgTaxaAdicional"
         name="fpgTaxaAdicional"
         required
         maxlength="2"
         [disabled]="!paymentMethod.fpgPermiteParcelamento"
         (keypress)="apenasNumeros($event)"
         #fpgTaxaAdicional="ngModel">
  <mat-error *ngIf="fpgTaxaAdicional.invalid && fpgTaxaAdicional.touched">Obrigatório</mat-error>
</mat-form-field>

    <!-- Botões -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Atualizar</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>
