<mat-card>
    <mat-card-title>Excluir Método de Pagamento</mat-card-title>
    <form>
         <mat-form-field appearance="outline">
            <mat-label>Meio de Pagamento</mat-label>
            <input matInput placeholder="" [value]="paymentMethod.fpgNome" name="fpgNome" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Modalidade</mat-label>
            <input matInput placeholder="" [value]="paymentMethod.fpgTipo" name="fpgTipo" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Permite Parcelamento?*</mat-label>
            <input matInput placeholder="" [value]="paymentMethod.fpgPermiteParcelamento" name="fpgPermiteParcelamento" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>MaxParcelas*</mat-label>
            <input matInput placeholder="" [value]="paymentMethod.fpgNumMaxParcelas" name="fpgNumMaxParcelas" disabled>
        </mat-form-field>
       
        <mat-form-field appearance="outline">
            <mat-label>TaxaAdicional*</mat-label>
            <input matInput placeholder="" [value]="paymentMethod.fpgTaxaAdicional" name="fpgTaxaAdicional" disabled>
        </mat-form-field>
    </form>

    <!-- Botões -->
<div class="button-container">
    <button mat-raised-button color="warn" type="button" (click)="deletePaymentMethod()">
      Excluir
    </button>
    <button mat-raised-button color="accent" type="button" (click)="cancel()">
      Cancelar
    </button>
  </div>
  
</mat-card>